.vscode

*.o
*.elf
*.hex

msp430_workspace/.jxbrowser.userdata/
msp430_workspace/ircom/.settings/
msp430_workspace/ircom/.jxbrowser.userdata/
.jxbrowser.userdata/
.config/
.launches/
Debug/
Release/


build